@namespace KidSafeApp.Components.Pages.Child.Chat
@page "/child/chat"
@using KidSafeApp.Components.Pages.Shared

<ChildLayout>
  <section class="ks-content">
    <ChatPage />
  </section>
</ChildLayout>


