@namespace KidSafeApp.Components.Shared

<div class="ks-role-loading">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
    <div class="ks-role-loading-text">Loading dashboard...</div>
</div>


