@namespace KidSafeApp.Components.Pages.Child
@page "/child/chat"
@using KidSafeApp.Components.Pages.Shared
@using KidSafeApp.Components.Chat
@using KidSafeApp.Components.Pages.Chat

<ChildLayout>
  <section class="ks-content">
    <ChatPage />
  </section>
</ChildLayout>
