@namespace KidSafeApp.Components.Pages.Child
@page "/child/dashboard"

@inject KidSafeApp.States.RoleState RoleState
@inject NavigationManager NavigationManager

@if (!RoleState.IsRoleLoaded)
{
  <Components.Shared.RoleLoading />
}
else
{
  <ChildLayout>
    <section class="ks-content">
      <DashboardView />
    </section>
  </ChildLayout>
}

@code {
}
