@namespace KidSafeApp.Components.Pages.Child
@page "/child/dashboard"

@inject KidSafeApp.States.RoleState RoleState
@inject NavigationManager NavigationManager
@inject KidSafeApp.States.AuthenticationState AuthState

@if (!AuthState.IsAuthenticated)
{
  <NavigateTo href="/login/child" replace="true" />
}
else if (!string.Equals(AuthState.User?.Role, "Child", StringComparison.OrdinalIgnoreCase))
{
  <NavigateTo href="/unauthorized" replace="true" />
}

@if (!RoleState.IsRoleLoaded)
{
  <RoleLoading />
}
else
{
  <ChildLayout>
    <section class="ks-content">
      <DashboardView />
    </section>
  </ChildLayout>
}

@code {
}
